* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --nutmeg: hsl(14, 45%, 36%);
    --dark-raspberry: hsl(332, 51%, 32%);
    --white: hsl(0, 0%, 100%);
    --rose-white: hsl(330, 100%, 98%);
    --eggshell: hsl(30, 54%, 90%);
    --light-grey: hsl(30, 18%, 87%);
    --wenge-brown: hsl(30, 10%, 34%);
    --dark-charcoal: hsl(24, 5%, 18%);
}

body {
    font-family: 'outfit';
    color: var(--wenge-brown);
    background-color: var(--white);
    font-size: 16px;
    line-height: 24px;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

h1,
h2 {
    font-family: 'young-serif', 'Kugile';
    color: var(--nutmeg);
    font-size: 28px;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

span {
    font-weight: 700;
}

.recipe-image {
    width: 100%;
}

.main-content {
    width: 85%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.recipe-heading {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    color: var(--dark-charcoal);
}

ol {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    margin-top: 20px;
}

li {
    list-style: disc;
    padding: 0 15px 10px 15px;
}

li::marker {
    color: var(--nutmeg);
    font-weight: 700;
}

.recipe-preparation {
    background-color: var(--rose-white);
    padding: 20px 25px;
    border-radius: 15px;
}

.recipe-preparation h2 {
    color: var(--dark-raspberry);
    font-size: 20px;
    font-family: 'outfit';
}

.recipe-ingredients,
.recipe-instructions {
    border-bottom: 1px solid var(--light-grey);
    padding-bottom: 20px;
}

.recipe-instructions li {
    list-style: decimal;
}

.nutrition-table {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.table-row {
    border-bottom: 1px solid var(--light-grey);
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.table-row:last-of-type {
    border: none;
}

.table-column-1 {
    width: 50%;
    padding-left: 15px;
}

.table-column-2 {
    width: 50%;
    color: var(--nutmeg);
    font-weight: 700;
}

.nutrition-heading {
    margin-bottom: 20px;
}

.nutrition-text {
    width: 95%;
}

.attribution {
    font-size: 11px;
    text-align: center;
    position: sticky;
    bottom: 0px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    font-weight: 700;
    transition: all 0.2s ease;
}

.attribution a:hover {
    color: var(--nutmeg);
    font-size: 13px;
}

/* Laptop and Desktop screens */
@media screen and (min-width: 1200px) {
    body {
        background-color: var(--eggshell);
        display: flex;
        height: 100vh;
    }

    main {
        margin: auto;
    }

    .main-container {
        max-width: 1000px;
        /* margin: auto; */
        background-color: var(--white);
        border-radius: 30px;
        padding: 4%;
    }

    .recipe-image {
        width: 100%;
        border-radius: 20px;
        /* visibility: hidden; */
    }

    .main-content {
        width: 95%;
    }
}